.about-body {
  width: 600px;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.about__avatar {
  width: 160px;
  height: 160px;
  border-radius: 0.2rem;
  box-shadow: 0 3px 6px var(--neutral-600);
  box-shadow: 0 8px 18px var(--neutral-200);
}

.about__part-one {
  display: flex;
  justify-content: flex-end;
}

.about__copy {
  text-align: end;
  margin-right: 1rem;
}

.copy__wrapper {
  margin-bottom: 2rem;
}

.about__group-pic {
  width: 600px;
  border-radius: 0.2rem;
  box-shadow: 0 3px 6px var(--neutral-600);
  box-shadow: 0 8px 18px var(--neutral-200);
}

@media screen and (max-width: 500px) {
  .about-body {
    width: 90vw;
  }

  .about__part-one {
    flex-flow: column-reverse;
    align-items: flex-end;
  }

  .about__avatar {
    margin-bottom: 3rem;
  }

  .about__copy {
    font-size: 0.9rem;
    margin-right: 0;
  }

  .about__group-pic {
    width: 90vw;
  }
}
