.header {
  display: flex;
  width: 600px;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.icon {
  background-image: url("../Images/mountain.png");
  background-size: cover;
  width: 22px;
  height: 22px;
  background-color: white;
}

.main-nav__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 2rem;
}

.main-nav__link {
  text-decoration: none;
  color: inherit;
}

.main-nav__item {
  font-weight: 700;
}
