.header {
  display: flex;
  width: 600px;
  align-items: center;
  padding: 1rem 0;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--neutral-400);
}

.icon {
  width: 30px;
  height: 30px;
}

.main-nav__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 2rem;
}

.main-nav__link {
  text-decoration: none;
  color: inherit;
}

.main-nav__item {
  font-weight: 700;
}

.main-nav__link:hover {
  color: var(--neutral-700);
}

@media screen and (max-width: 500px) {
  .header {
    width: 100vw;
    position: fixed;
    bottom: 0;
    padding: 1rem;
    background-color: var(--neutral-50);
  }
  .main-nav__list {
    gap: 0.8rem;
  }
  .main-nav__link:active {
    color: var(--neutral-700);
  }
}
