@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --neutral-50: #fafafa;
  --neutral-200: #e5e5e5;
  --neutral-400: #a1a1aa;
  --neutral-600: #52525b;
  --neutral-700: #404040;
  font-size: 16px;
  font-family: "Lora", serif;
  color: var(--neutral-700);
  box-sizing: border-box;
  line-height: 1.15;
  letter-spacing: 0.5px;
}

.container {
  min-height: 100vh;
  display: flex;
  background-color: var(--neutral-50);
  flex-direction: column;
  align-items: center;
}
