.body {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  display: flex;
  flex-direction: column;
  background-color: #f4ebe8;
  border-radius: 0.2rem;
  padding: 0.2rem;
  margin: 0.8rem 0;
  cursor: pointer;
}

.product__image {
  width: 180px;
  height: 180px;
  border-radius: 0.2rem;
}

.product__info {
  display: flex;
  justify-content: space-between;
  color: #311d3a;
}

.selected {
  display: flex;
}

.selected__img {
  width: 300px;
  height: 300px;
}

.selected__info {
  width: 300px;
}
